.row {
  grid-column-start: span 4;
  min-width: 110px;
  min-height: 70px;
  width: 100%;
  height: 100%;
  background-color: #efefe6;
  color: #121212;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  margin: 10px 0;
}

.row p {
  display: block;
  margin: 1px;
  padding: 1px;
  text-transform: uppercase;
}

.question {
  font-weight: bold;
}

@media (max-width: 600px) {
  .row {
    min-width: 60px;
    min-height: 32px;
    padding: 2px;
    margin: 3px 0;
    font-size: 0.85em;
  }
  .row p {
    font-size: 0.85em;
    padding: 0;
    margin: 0;
  }
}
