.row {
    grid-column-start: span 4;
    min-width: 110px;
    min-height: 70px;
    width: 100%;
    height: 100%;
    background-color: #EFEFE6;
    color: #121212;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px 0;
}

.row p {
    display: block;
    margin: 1px;
    padding: 1px;
    text-transform: uppercase;
}

.question {
    font-weight: bold;
}