.toast {
  z-index: 1000;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  padding: 2px 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: opacity 0.7s ease-in-out;
  display: flex;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.toast::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border: 2px solid #fff;
  border-radius: 5px;
  pointer-events: none;
  z-index: 1;
}

.toast-message * {
  margin: 2px 20px;
}
