#board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 10px;
  justify-items: stretch;
  align-items: stretch;
  margin-bottom: 2rem;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}